/src/ClickHouse.EntityFrameworkCore/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/tests/ClickHouse.EntityFrameworkCore.UnitTests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/ClickHouse.EntityFrameworkCore/obj/Debug/net8.0/ClickHouse.EntityFrameworkCore.AssemblyInfo.cs
/src/ClickHouse.EntityFrameworkCore/obj/Debug/net8.0/ClickHouse.EntityFrameworkCore.AssemblyInfoInputs.cache
/src/ClickHouse.EntityFrameworkCore/obj/Debug/net8.0/ClickHouse.EntityFrameworkCore.assets.cache
/src/ClickHouse.EntityFrameworkCore/obj/ClickHouse.EntityFrameworkCore.csproj.nuget.dgspec.json
/src/ClickHouse.EntityFrameworkCore/obj/ClickHouse.EntityFrameworkCore.csproj.nuget.g.props
/src/ClickHouse.EntityFrameworkCore/obj/ClickHouse.EntityFrameworkCore.csproj.nuget.g.targets
/src/ClickHouse.EntityFrameworkCore/obj/Debug/net8.0/ClickHouse.EntityFrameworkCore.GeneratedMSBuildEditorConfig.editorconfig
/src/ClickHouse.EntityFrameworkCore/obj/Debug/net8.0/ClickHouse.EntityFrameworkCore.GlobalUsings.g.cs
/tests/ClickHouse.EntityFrameworkCore.UnitTests/obj/Debug/net8.0/ClickHouse.EntityFrameworkCore.UnitTests.AssemblyInfo.cs
/tests/ClickHouse.EntityFrameworkCore.UnitTests/obj/Debug/net8.0/ClickHouse.EntityFrameworkCore.UnitTests.AssemblyInfoInputs.cache
/tests/ClickHouse.EntityFrameworkCore.UnitTests/obj/Debug/net8.0/ClickHouse.EntityFrameworkCore.UnitTests.assets.cache
/tests/ClickHouse.EntityFrameworkCore.UnitTests/obj/Debug/net8.0/ClickHouse.EntityFrameworkCore.UnitTests.csproj.AssemblyReference.cache
/tests/ClickHouse.EntityFrameworkCore.UnitTests/obj/ClickHouse.EntityFrameworkCore.UnitTests.csproj.nuget.dgspec.json
/tests/ClickHouse.EntityFrameworkCore.UnitTests/obj/ClickHouse.EntityFrameworkCore.UnitTests.csproj.nuget.g.props
/tests/ClickHouse.EntityFrameworkCore.UnitTests/obj/ClickHouse.EntityFrameworkCore.UnitTests.csproj.nuget.g.targets
/tests/ClickHouse.EntityFrameworkCore.UnitTests/obj/Debug/net8.0/ClickHouse.EntityFrameworkCore.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/tests/ClickHouse.EntityFrameworkCore.UnitTests/obj/Debug/net8.0/ClickHouse.EntityFrameworkCore.UnitTests.GlobalUsings.g.cs
/.idea/.idea.ClickHouse.EntityFrameworkCore.dir/.idea/indexLayout.xml
/src/ClickHouse.EntityFrameworkCore/obj/project.assets.json
/tests/ClickHouse.EntityFrameworkCore.UnitTests/obj/project.assets.json
/src/ClickHouse.EntityFrameworkCore/obj/project.nuget.cache
/tests/ClickHouse.EntityFrameworkCore.UnitTests/obj/project.nuget.cache
/src/ClickHouse.EntityFrameworkCore/obj/project.packagespec.json
/tests/ClickHouse.EntityFrameworkCore.UnitTests/obj/project.packagespec.json
/src/ClickHouse.EntityFrameworkCore/obj/rider.project.model.nuget.info
/src/ClickHouse.EntityFrameworkCore/obj/rider.project.restore.info
/tests/ClickHouse.EntityFrameworkCore.UnitTests/obj/rider.project.restore.info
/.idea/.idea.ClickHouse.EntityFrameworkCore.dir/.idea/vcs.xml
